# Aiogram
BOT_TOKEN=0000000000:A1a0A1a0A1a0A1a0A1a0A1a0A1a0A1a0A1a
AIOGRAM_DEBUG_FEATURES=FALSE
ADMIN_IDS=01010101,02020202

LOG_LEVEL=DEBUG

DATABASE_PATH=../db.sqlite

# In seconds
TIME_PER_CLEAR_FQ=86400
